div.olMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
    cursor: default;
}

div.olMapViewport {
    text-align: left;
}

div.olLayerDiv {
   -moz-user-select: none;
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.olControlAttribution {
    font-size: smaller; 
    right: 5%; 
    bottom: 0px; 
    position: fixed; 
    display: block;
	font-family: Exo;
	background-color: rgba(255, 255, 255, .8);
	padding: 5px 10px;
}

.olControlNoSelect {
 -moz-user-select: none;
}

.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

div.olControlMousePosition, #click-info {
	z-Index: 750;
    bottom: 0px;
    left: 20.5%;
	width: 138px;
    display: block;
    position: absolute;
    font-family: Exo;
    font-size: 12px!important;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px 10px;
}

/*
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown {
    cursor: move;
}
.olDrawBox {
    cursor: crosshair;
}
.olControlDragFeatureOver {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}

/* not needed
.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.olControlScaleLine {
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

/* custom permalink
.olControlPermalink {
    left: 34%;
    bottom: 0px;
    display: block;
    position: absolute;
    font-size: smaller;
	font-family: Exo;
    font-size: 12px!important;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15 15px 0 0;
	padding: 5px 10px;
} 
.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("img/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}    
.olControlNavToolbar { 
    width:0px;
    height:0px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

.olControlNavigationHistory {
   background-image: url("img/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;

}
.olControlNavigationHistoryPreviousItemActive { 
  background-position: 0px 0px;
}
.olControlNavigationHistoryPreviousItemInactive { 
   background-position: 0px -24px;
}
.olControlNavigationHistoryNextItemActive { 
   background-position: -24px 0px;
}
.olControlNavigationHistoryNextItemInactive { 
   background-position: -24px -24px;
}

.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("img/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("img/panning-hand-off.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("img/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("img/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  background-image: url("img/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-position: -26px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;                                                                   
}
div.olControlSaveFeaturesItemActive { 
    background-image: url(img/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
div.olControlSaveFeaturesItemInactive { 
    background-image: url(img/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}   

.olControlPanPanel {
    top: 10px;
    left: 5px;
}  

.olControlPanPanel div {
    background-image: url(img/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.olControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
}


.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}*/

/* 
 * special-fonts 
 */
@font-face { font-family: Exo; src: url(fonts/Exo-Medium.otf); } 
@font-face { font-family: Exo-Bold; src: url(fonts/Exo-SemiBold.otf); } 


/*
 * body and html
 */
html, body {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: Exo;
	font-size: 13px;
	font-weight: normal;	
}

/* 
 * Tooltip Popups for Startpoint-Layer
 */

#featureTooltip {
    width: auto!important;
    height: auto!important;

}

#featureTooltip_ContentDiv {
    padding:5px;
    overflow: auto;
    width: inherit!important;
    height: inherit!important;
}

#startpt {
	font-family: Exo;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
}

#startpt_name {
	font-family: Exo-Bold!important;
	font-size: 14px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	//background: url('http://www.thegifgallery.com/img/393.gif')  50% 50% no-repeat rgb(249,249,249);
	//background: url('http://www.thegifgallery.com/img/291.gif') 50% 50% no-repeat rgb(41,41,41);
}

#container {
	position: relative;
	height: 100%;
}

/* 
 * Map explanations and trails list
 */
 
 .H1 {
	font-family: 'Fredoka One';
	width: 99%!important; /* 100-0.5*2=99% */
	font-weight: 500;
	font-size: 54px;	
}

.H2 {
	font-size:24px;
	font-family: 'Fredoka One';
}

.H1, .H2 {
	color: #555250;
}

#explanation-and-list {	
	position: fixed;
	width: 90%;
	top: 0;
	right: 5%;
	padding:0.5%;
	text-align: center;
	font-size: 15px; 
	z-index: 900;
    height: 369px;	
	background: rgba(255,255,255,0.8);
}	


#explanation-and-list p {
	float: left; 
	margin: 0.5%;
	padding: 0.5% 0%;
	background-color: rgba(255, 255, 255, 0.5);
}

#trails-list, #explanation {
	width: 49%; 
	height: 252px;
}

#trails-list {
	overflow-y: scroll;
	overflow-x: hidden;
	color: #555250;
}

#trails-list > * > li  {
	list-style-type: none;
	font-size: 14px;
}

#control-div {
	z-index: 2000;
	position: fixed;
	bottom: 0;
	left: 5%;
	width: 120px;
	text-align: center;
	padding-bottom: 5px;
}

/* 
PAYPAL SECTION 
*/

#paypal {
  position: fixed;
  width: 20%;
  z-index: 9999;
  text-align: center;
  padding: 10px;
  top: 40%;
  right: 35%;
  background-color: white;
  display: none;
  font-size: 14px;
}

#svg_container {
  width: 60%;
  display: block;
  margin: auto;
  padding: 12px;
}

#heart {
  fill: red;
  display: block;
}

.support {
  margin: 5px;
}

.support:hover {
  cursor: pointer;
  background-color: lightgreen; 
}

.pulse2 {
  -webkit-animation: pulse2 1.5s linear infinite;
  -moz-animation: pulse2 1.5s linear infinite;
  -ms-animation: pulse2 1.5s linear infinite;
  animation: pulse2 1.5s linear infinite;
}

@keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse2 {
  0% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes "pulse2" {
  0% {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

button[class="support"] {
  padding: 8px;
  font-size: 18px;
  border: none;
  
  background-color: rgb(10, 255, 90);
}

button[class="support"][id="x"] {
  background-color: rgb(180, 180, 180);
}

/* 
 * other button styles 
 */

#ToggleButton, #Overview {
	cursor: hand;
}
.fa {
	color: rgb(40,40,40);
	padding:5px;
}

.fa:hover, .fa:hover {
	color: black;
}

input:focus {
	outline: none;
	cursor: pointer;
}

input[class="Link"] {
	margin: 2px;
	font-weight: 500;
}

input[class="Select-Button"] {
	background: none;
	border: none; 
	font-size: 14px;
}

input[class="Select-Button"]:hover {
	text-shadow: 2px 2px 2px rgb(162, 155, 155);
	color: rgb(5, 5, 142);
}

input[class="Link"], input[class="Basemap"] {
	border: none;
	border-radius: 5px;
	background-color: rgba(190, 190, 190, 0.8);
	font-family:exo;
	font-size:13px;
}

input[class="Basemap"] {
	margin: 3px;
}

input[class="Link"]:hover, input[class="Basemap"]:hover {
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

input[class="Basemap"]:focus {
	background-color: rgba(255, 255, 255, 0.8);
}


/* 
 * output with info for regions and trails 
 */
 
#control-div, #output-wrapper, #onscreen-trails {
	background-color: rgba(241, 241, 241, 0.9);
}

#item-chosen, #onscreen-trails-inner {
	font-size:24px; 
	font-family: 'Fredoka One';
	padding: 10px; 
	}

#output-wrapper {
 	display: none;
 	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
}

#output-info {
	padding: 10px;
	float: left;
}

#elevation-wrapper {
	display: block;
	float: right;
	padding-left: 15px;
}

#elevation_chart {
	margin-right: -20px;
}

#onscreen-trails {
	display: none;
	z-index: 5000;
	position: fixed;
	top: 0px;
	right: 0px;
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	text-align: center;
}

#onscreen-trails {
	display: none;
	z-index: 5000;
	position: fixed;
	top: 0px;
	right: 0px;
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	text-align: center;
}

#topic {
	font-weight: bold;
	line-height:1.3!important;
} 
#topic-text {
	margin-left:9em;
	line-height:1.3!important;
	white-space: nowrap;
}


/*
Newest Trail with animation
*/

#bt_newest_trail {

	margin-top: 10px;
	
    -webkit-animation-name: blinker;
    -webkit-animation-timing-function: steps(10, start);
    -webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1.5s;	
    
    -moz-animation-name: blinker;
    -moz-animation-timing-function: steps(10, start);
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 1.5s;	
    
    animation-name: blinker;
    animation-timing-function: steps(10, start);
    animation-iteration-count: infinite;
	animation-duration: 1.5s;
}

@-moz-keyframes blinker {  
    0% { background-color: white; }
    50% { background-color: gray; }
    100% { background-color: darkgray; }
    50% { background-color: gray; }
    0% { background-color: white; }
}

@-webkit-keyframes blinker {  
    0% { background-color: white; }
    50% { background-color: gray; }
    100% { background-color: darkgray; }
    50% { background-color: gray; }
    0% { background-color: white; }
}

@keyframes blinker {  
    0% { background-color: white; }
    50% { background-color: gray; }
    100% { background-color: darkgray; }
    50% { background-color: gray; }
    0% { background-color: white; }
}


/* 
 * skala and kodex page CSS 
 */

#kodex-skala-head  
{
	font-family: 'Fredoka One';
	font-size: 44px; 
	text-align: center; 
	background: white; 
	 
	padding: 5px;
	overflow: auto;
}

.info
{	
	font-size: 20px; 
	font-family: Exo;
	padding-bottom: 3%;
}

.info-bold
{	
	font-family: 'Fredoka One';
	font-size: 32px;
	margin: 25px 0px 0px 0px;
}

.info-bold-header
{	
	font-family: 'Fredoka One';
	font-size: 40px;
	margin: 25px 0px 0px 0px;
}

.info-bold-sub
{	
	font-family: 'Fredoka One';
	font-size: 24px;
	margin: 25px 0px 0px 0px;
}

/*
 * customized list bullets with letters S, G, U, E & increment
 */
.custom-list {
    counter-reset: list;
    margin: 0;
}

.custom-list > li {
    list-style: none;
    position: relative;
}

.custom-list > li:before {
    counter-increment: list;
    position: absolute;
    left: -1.8em; /*indent!!*/
	font-weight: bold;
}

#S > li:before {
    content: "S" counter(list, upper-roman);
}
#G > li:before {
    content: "G" counter(list, upper-roman);
}

#E > li:before {
    content: "E" counter(list, upper-roman);
}
#U > li:before {
    content: "U" counter(list, upper-roman);
}
#K > li:before {
    content: "K" counter(list, upper-roman);
}
#minus > li:before {
    content: "-";
}
#plus > li:before {
    content: "+";
}
#none > li:before {
    content: "";
}
#UX > li:before {
    content: "UX";
}
#SX > li:before {
    content: "SX";
}
#KX > li:before {
    content: "KX";
}

/* 
 * only fix I found for rendering marker layer on top of map
 */
div[id^="OpenLayers_Layer_Markers"] {
	z-index: 726!important;
}

/*
 * HIDE nav-tags which are just used for GOOGLE Sitelinks algorithm
 */

 nav {
	display:none;
}
