/*** General ***/

html, body, #map {
    height: 100%;
    width: 100vw;
}


/*** Navigation ***/

.navbar {
  margin-bottom: 0;
  padding: 0 15px;
  background: #4EB086;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-brand {
  padding-left: 5px;
}

.navbar-default .navbar-brand:hover {
  cursor: default;
}

.navbar-toggle {
  background-color: #fff;
}

ul.nav.navbar-nav.navbar-right a {
  color: #fff;
  font-weight: bold;
  transition: color 0.4s;
}

ul.nav.navbar-nav.navbar-right li a:hover {
  color: #000;
}

/*** Control font size of title on small screens ***/

@media screen and (max-width: 400px) {
  .navbar-default .navbar-brand {
    font-size: 1em;
  }
}




/*** Map popup Title***/

.map-popup {
  font-size: 1.25em;
  font-weight: bold;
}

/*** popup contents ***/

#topic {
	font-weight: bold;
	line-height:1.3!important;
} 
#topic-text {
	margin-left:9em;
	line-height:1.3!important;
	white-space: nowrap;
}

.trailPopupClass .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    box-shadow: none;
}

.trailPopupClass .leaflet-popup-content-wrapper {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

/*** Coords / Zoom Info Bar ***/

#bar {
	position:absolute;
	z-index: 999;
	bottom:0;
	left:0;
	margin: 4px;
	padding: 4px;
	background-color: rgba(255,255,255,0.9);
	text-align:center;
	font-family:'Arial';
}